{% extends "audien/base.html" %}
{% load bootstrap3 %}
{% block principal %}
<form method="post" action="" class="form-signin">
	{% csrf_token %}
	<h2 class="form-signin-heading">Entrar</h2>
	{% bootstrap_form form %}
	{% buttons submit="Logar" %}
	{% endbuttons %}
	<input type="hidden" name="next" value="{{ next }}" />
</form>
{% endblock %}
