{% load bootstrap3 %}
{% load static %}


{% bootstrap_css %}
<script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>

<script src="{% static 'js/audien-ajax.js' %}"></script>
{% bootstrap_javascript %}

 <style>                                                                                                                                                     
     body {                                                                                                                                              
		 padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */                                                 
	 }
	
	 .principal{
		text-align: center; 
	 }
	 .form-control{
	 	width:'50%';
	 }

	 
	.form-signin {
        			max-width: 300px;
        			padding: 19px 29px 29px;
        			margin: 0 auto 20px;
        			background-color: #fff;
        			border: 1px solid #e5e5e5;
        			-webkit-border-radius: 5px;
           			-moz-border-radius: 5px;
                		border-radius: 5px;
        			-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           			-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                		box-shadow: 0 1px 2px rgba(0,0,0,.05);
      			}
      			
	.form-signin .form-signin-heading,
      			.form-signin {
        			margin-bottom: 10px;
      			}
      			
	.form-signin input[type="text"],
		.form-signin input[type="password"] {
        			font-size: 16px;
        			height: auto;
        			margin-bottom: 15px;
        			padding: 7px 9px;
			}	
 </style>        

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'audien:index'%}">Audien</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
		  {% if user.is_anonymous %}
		  <li><a href="{% url 'audien:login' %}">Login</a></li>
		  <li><a href="{% url 'audien:signup' %}">Registro</a></li>
		  {% else %}	  
			 </li>
			 <li class="dropdown">
            	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Instituição<span class="caret"></span></a>
	            <ul class="dropdown-menu" role="menu">	
	            	<li><a href="{% url 'audien:create_inst' %}">Cadastrar</a></li>
	                <li><a href="{% url 'audien:list_inst' %}">Listar</a></li>
	            </ul>    
            </li>
            <li class="dropdown">
            	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Periodo Letivo<span class="caret"></span></a>
	        	<ul class="dropdown-menu" role="menu">	
					<li><a href="{% url 'audien:create_perlet' %}">Cadastrar</a></li>
            	</ul>
	        </li>
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Estudantes<span class="caret"></span></a>
	        	<ul class="dropdown-menu" role="menu">	
					<li><a href="{% url 'audien:create_estd' %}">Cadastrar</a></li>
            		<li><a href="{% url 'audien:list_estd' %}">Listar</a></li>
            	</ul></li>

			</li>
			
			<li><a href="{% url 'audien:logout' %}">Logout</a></li>
			{% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
</div>

{% bootstrap_messages %}

{% block principal %}{% endblock %}


