{% extends 'audien/base.html' %}

{% load bootstrap3 %}
{% block principal %}
<legend>Lista de Declarações de {{nome_estd}}</legend>
<table class="table">
	<tr>
		<th>Id</th>
		<th>Data de Recebimento</th>
		<th>Período Letivo</th>
	</tr>
	
		{% for declara in object_list %}
		<tr>
			<td><a href="{% url 'audien:update_declara' declara.pk %}">{{declara.pk }}</a></td>
			<td>{{ declara.dataRecebimento }}</td>
			<td>{{ declara.periodo_letivo }}</td>
		</tr>
		{% endfor %}
	</table>
	{% bootstrap_pagination page_obj url="?page={{ object_list.next_page_number }}" size="small" %}
{% endblock %}
