{% extends 'audien/base.html' %}
{% load bootstrap3 %}
{# bootstrap_messages #}
{% block principal %}
<form action="" method="post" class="form-horizontal">
	{% csrf_token %}
	<legend>Cadastro de Periodo Letivo</legend>
	{% bootstrap_form form layout="horizontal" %}
	{% buttons submit='Atualizar' reset="Limpar"  layout="horizontal" %}
		<button type="submit" class="btn btn-danger" formmethod="post"
			formaction="{% url 'audien:delete_estd' form.instance.pk %}" >Deletar</button> 
	{% endbuttons %}
</form>
{% endblock %}
