{% extends 'audien/base.html' %}

{% load bootstrap3 %}
{% block principal %}
<legend>Lista de Estudantes</legend>
<table class="table">
	<tr>
		<th>Nome</th>
		<th>Instituição</th>
		<th></th>
		<th></th>
	</tr>
	
		{% for estudante in object_list %}
		<tr>
			<td><a href="{% url 'audien:update_estd' estudante.pk %}">{{ estudante }}</a></td>
			<td>{{ estudante.instituicaoAtual }}</td>
			<td><a href="{% url 'audien:create_declara' estudante.pk %}">Cadastrar Declaração</a></td>

			<td><a href="{% url 'audien:list_declara' estudante.pk %}">Ver Declarações</a></td>
		</tr>
		{% endfor %}	
	</table>


	{% bootstrap_pagination page_obj url="?page={{ object_list.next_page_number }}" size="small" %}
{% endblock %}
