{% extends 'audien/base.html' %}
{% load bootstrap3 %}
{% block principal %}

<div class="container">
      <div class="principal">
        <h1>Audiente</h1>
        <p class="lead">Gerenciamento de declarações de estudantes</p>
      </div>
	  {% if not user.is_anonymous %}
	  		<p class="lead">Bem vindo, {{ user.username }}</p>
	  {% endif %}
	</div>
{% endblock %}
