{% extends 'audien/base.html' %}
{% load bootstrap3 %}
{% bootstrap_messages %}
{% block principal %}
<form action="" method="post" class="form-horizontal">
	{% csrf_token %}
	{{ pk }}
	<legend>Atualizar Dados da  Instituição</legend>
	{% bootstrap_form form layout="horizontal" %}
	{% buttons submit='Atualizar' reset="Limpar"  layout="horizontal" %}
		<button type="submit" class="btn btn-danger" formmethod="post" formaction="{% url 'audien:delete_inst' form.instance.pk %}" >Deletar</button> 
	{% endbuttons %}
</form>
{% endblock %}
