{% extends 'audien/base.html' %}
{% load bootstrap3 %}

{% block principal %}
<legend>Lista de Instituições</legend>
<table class="table">
	<tr>
		<th>Nome</th>
		<th>Sigla</th>
		<th>Fone</th>
		<th>Periodos Letivos</th>
	</tr>
	
		{% for instituicao in object_list %}
		<tr>
			<td><a href="{% url 'audien:update_inst' instituicao.pk %}">{{ instituicao.nome }}</a></td>
			<td>{{ instituicao.sigla }}</td>
			<td>{{ instituicao.fone }}</td>
			<td><a href="{% url 'audien:list_perlet' instituicao.pk %}">Ver Periodos Letivos</a></td>
		</tr>
		{% endfor %}	
	</table>
	{% bootstrap_pagination page_obj url="?page={{ object_list.next_page_number }}" size="small" %}
	
{% endblock %}
