{% extends 'audien/base.html' %}
{% load bootstrap3 %}
{# bootstrap_messages #}
{% block principal %}
<form action="" method="post" class="form-horizontal">
	{% csrf_token %}
	<legend>Cadastro de Periodo Letivo</legend>
	{% bootstrap_form form layout="horizontal" %}
	{% buttons submit='Cadastrar' reset="Cancelar"  layout="horizontal" %}
	{% endbuttons %}
</form>
{% endblock %}
