{% extends 'audien/base.html' %}

{% load bootstrap3 %}

{% block principal %}
<legend>Lista de Periodos da(o) {{ object_list.0.instituicao }}</legend>
<table class="table">
	<tr>
		<th>Semestre</th>
		<th>Início</th>
		<th>Fim</th>
		<th>Periodo Atual?</th>
	</tr>
	
		{% for perlet in object_list %}
		<tr>
			<td><a href="{% url 'audien:update_perlet' perlet.pk %}">{{ perlet }}</a></td>
			<td>{{ perlet.inicio }}</td>
			<td>{{ perlet.fim }}</td>
			<td>
				
				<a class="mudar_perlet" data-perletid={{ perlet.pk }}>
				{% if perlet.instituicao.periodo_atual == perlet %}
					<span class="glyphicon glyphicon-star"></span>
				{% else %}
					<span class="glyphicon glyphicon-star-empty"></span>
				{% endif %}

			    </a>	
			</td>

		</tr>
		{% endfor %}	
	</table>
	{% bootstrap_pagination page_obj url="?page={{ object_list.next_page_number }}" size="small" %}
{% endblock %}
